version: '3.9'

services:
  backend:
    build:
      context: .
      dockerfile: Docker/Dockerfile.backend
    environment:
      - PORT=5000
    ports:
      - 5000:5000
    env_file:
      - ./apiserver/.env
    working_dir: /usr/src/app
    # command: sh -c "npm install && node index.js"
    extra_hosts:
      - "host.docker.internal:host-gateway"
      # - DATABASE_URL=postgres://postgres:supersecret@postgres:5432/appdb?schema=public
      # - NODE_ENV=production
    # depends_on:
    #   - postgres

  frontend:
    build:
      context: .
      dockerfile: Docker/Dockerfile.frontend
    ports:
      - "3000:80"
    env_file:
      - ./client/.env
    extra_hosts:
        - "host.docker.internal:host-gateway"
    # command: sh -c "npm install && npm start"
    depends_on:
      - backend

  # postgres:
  #   image: postgres:16-alpine
  #   environment:
  #     POSTGRES_USER: postgres
  #     POSTGRES_PASSWORD: supersecret
  #     POSTGRES_DB: appdb
  #   volumes:
  #     - pgdata:/var/lib/postgresql/data
  #   networks:
  #     - appnet

# volumes:
#   pgdata:

# networks:
#   appnet:
#     driver: bridge


# image: node:18
#       container_name: robendevs-frontend
#       restart: always
#       working_dir: /app
#       volumes:
#         - ${ROOT_FRONEND_PATH}:/app
#       extra_hosts:
#         - "host.docker.internal:host-gateway"
#       ports:
#         - 5173:5173
#       command: sh -c "npm install && npm run dev"