version: '3.9'

services:
  backend:
    build:
      context: .
      dockerfile: Docker/Dockerfile.backend
    container_name: devops-test-backend
    environment:
      - PORT=5000
    ports:
      - 5000:5000
    env_file:
      - ./apiserver/.env
    working_dir: /usr/src/app
    extra_hosts:
      - "host.docker.internal:host-gateway"
    depends_on:
      - db

  frontend:
    build:
      context: .
      dockerfile: Docker/Dockerfile.frontend
    container_name: devops-test-frontend
    ports:
      - "3000:80"
    env_file:
      - ./client/.env
    extra_hosts:
        - "host.docker.internal:host-gateway"
    depends_on:
      - backend


  db:
    image: pgvector/pgvector:pg17-trixie
    container_name: devops-test-db
    mem_limit: 1g
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres-pass
      POSTGRES_DB: sampledb
    volumes:
      - pg-data:/var/lib/postgresql/data
    extra_hosts:
      - "host.docker.internal:host-gateway"

  db-adminer:
    image: adminer
    container_name: devops-test-adminer
    links:
      - db:db
    ports:
      - 9087:8080
    extra_hosts:
      - "host.docker.internal:host-gateway"

  # postgres:
  #   image: postgres:16-alpine
  #   environment:
  #     POSTGRES_USER: postgres
  #     POSTGRES_PASSWORD: supersecret
  #     POSTGRES_DB: appdb
  #   volumes:
  #     - pgdata:/var/lib/postgresql/data
  #   networks:
  #     - appnet

volumes:
  pg-data:
