apiVersion: apps/v1
kind: Deployment

metadata:
  name: backend
  namespace: devops-dev

spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: backend:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 5000
          envFrom:
            - configMapRef:
                name: app-config
            - secretRef:
                name: app-secrets
          # livenessProbe:
          #   httpGet:
          #     path: /api/health
          #     port: 5000
          #   initialDelaySeconds: 30
          #   periodSeconds: 10
          # readinessProbe:
          #   httpGet:
          #     path: /api/health
          #     port: 5000
          #   initialDelaySeconds: 5
          #   periodSeconds: 5

          # startupProbe:
          #   httpGet:
          #     path: /api/health
          #     port: 5000
          #   initialDelaySeconds: 10
          #   periodSeconds: 5
          #   failureThreshold: 30
          

            