apiVersion: v1
kind: Service

metadata:
  name: prometheus
  namespace: devops-dev-monitoring
  
spec:
  type: NodePort
  selector:
    app: prometheus
  ports:
    - port: 9090
      nodePort: 30909
      targetPort: 9090