# apiVersion: v1
# kind: PersistentVolumeClaim

# metadata:
#   name: postgres-pvc
#   namespace: devops-dev

# spec:
#   storageClassName: manual
#   accessModes:
#     - ReadWriteOnce
#   resources:
#     requests:
#       storage: 5Gi