apiVersion: v1
kind: ConfigMap

metadata:
  name: fluent-bit-config
  namespace: devops-dev-monitoring
  
data:
  fluent-bit.conf: |
    [SERVICE]
        Flush        5
        Log_Level    info
        Parsers_File parsers.conf
    
    [INPUT]
        Name              tail
        Tag               kube.*
        Path              /var/log/containers/*devops-dev*.log
        Parser            docker
        DB                /fluent-bit/tail/pos.db
        Mem_Buf_Limit     5MB
        Skip_Long_Lines   On
        Refresh_Interval  10
    
    [FILTER]
        Name                kubernetes
        Match               kube.*
        Kube_URL            https://kubernetes.default.svc:443
        Kube_CA_File        /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
        Kube_Token_File     /var/run/secrets/kubernetes.io/serviceaccount/token
        Kube_Tag_Prefix     kube.var.log.containers.
        Merge_Log           On
        Keep_Log            Off
        K8S-Logging.Parser  On
        K8S-Logging.Exclude Off
        Labels              On
        Annotations         Off
    
    [FILTER]
        Name                nest
        Match               kube.*
        Operation           lift
        Nested_under        kubernetes
        Add_prefix          k8s_
    
    [OUTPUT]
        Name          loki
        Match         *
        Host          loki.devops-dev-monitoring.svc.cluster.local
        Port          3100
        Labels        job=fluentbit,namespace=$k8s_namespace_name,pod=$k8s_pod_name,container=$k8s_container_name
        Label_keys    $k8s_namespace_name,$k8s_pod_name,$k8s_container_name
        Remove_keys   stream,k8s_pod_id,k8s_docker_id,k8s_container_hash,k8s_container_image,k8s_labels_app,k8s_labels_pod-template-hash,k8s_host
        Line_format   key_value

  parsers.conf: |
    [PARSER]
        Name        docker
        Format      json
        Time_Key    time
        Time_Format %Y-%m-%dT%H:%M:%S.%L%z
        Time_Keep   On